# Explore here

In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
ins_df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv')

In [12]:
drop_list = ['COUNTY_NAME', 'STATE_NAME', 'fips', 'Heart disease_prevalence', 'Heart disease_Lower 95% CI', 'Heart disease_Upper 95% CI']
ins_df = ins_df.drop(columns=drop_list)

In [13]:
ins_df

,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,40-49,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,7582,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,27338,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,3074,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,3038,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,7474,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,5334,...,2098,8.9,8.3,9.6,2834,2.6,2.4,2.8,821,5
3136,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,3423,...,928,7.2,6.5,8.0,1360,2.4,2.2,2.6,447,5
3137,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,2390,...,1163,10.4,9.5,11.2,1500,3.0,2.8,3.2,430,5
3138,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,900,...,506,11.3,10.3,12.1,686,3.4,3.2,3.7,207,6
3139,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,734,...,480,11.7,10.7,12.7,644,3.4,3.1,3.6,185,6

Split into x and y

In [15]:
y = ins_df['Heart disease_number']
X = ins_df.drop(columns=['Heart disease_number'])

Split into training and testing datasets

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=104)

In [23]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(2355, 101)
(2355,)
(785, 101)
(785,)

### Let's create 3 different models
Linear regression, Lasso Regression, RIDGE Regression

## Linear regression:

In [24]:
from sklearn.linear_model import LinearRegression

In [26]:
linreg_model = LinearRegression()

#fit with training data
linreg_model.fit(X_train, y_train)

#make two sets of predictions

#training and testing
train_preds = linreg_model.predict(X_train)
test_test = linreg_model.predict(X_test)

In [28]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

print(f"Training set R2 score: {r2_score(y_train, train_preds)}")
print(f"Mean Absolute Error on training set: {mean_absolute_error(y_train, train_preds)}")
print(f"Root Mean Squared Error on testing set: {mean_squared_error(y_train, train_preds)}")

Training set R2 score: 0.9994560947961432
Mean Absolute Error on training set: 180.7510503748673
Root Mean Squared Error on testing set: 146331.38304839237

In [ ]:
print(f"Training set R2 score: {r2_score(y_train, train_preds)}")
print(f"Mean Absolute Error on training set: {mean_absolute_error(y_train, train_preds)}")
print(f"Root Mean Squared Error on testing set: {mean_squared_error(y_train, train_preds)}")

Visualize how well my predictions line up with actual values

# Lasso Regression

In [29]:
from sklearn.linear_model import Lasso

In [32]:
lasso_model = Lasso()
lasso_model.fit(X_train, y_train)

lasso_train_preds = lasso_model.predict(X_train)
lasso_test_preds = lasso_model.predict(X_test)

/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.513e+08, tolerance: 6.336e+07
  model = cd_fast.enet_coordinate_descent(

In [33]:
hyperparameters = {'alpha' : [0, 0.1, 1, 10, 100], 'max_iter' : [50, 100, 500, 1000, 2000, 5000]}

grid_model = GridSearchCV(Lasso(), param_grid=hyperparameters, scoring='neg_root_mean_squared_error')

grid_model.fit(X_train, y_train)

NameError: name 'GridSearchCV' is not defined

# Ridge model

In [34]:
ridge_model = Ridge()

ridge_model,fit(X_train, y_train)

NameError: name 'Ridge' is not defined